.container span {
    text-decoration: none;
   
}
.container2 {
    text-decoration: none;
    font-size: 10px;
}
.container span {
    
    padding-right: 40px;
    margin-top: 30px;
    margin-left: 30px;
}